.related-wrap {
  padding: 0 20px 60px;
  background: url('../../assets/backgrounds/quiz.png');
  background-size: cover;
  background-position: center;

  .related {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1160px;
    margin: 0 auto;

    @media (min-width: 730px) {
      flex-wrap: nowrap;
    }
  }

  h3 {
    font-size: 34px;
    text-align: left;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 26px;
    padding-top: 10px;
    max-width: 1160px;
    color: #fff;
    border-top: 5px solid #6F2C91;
  }

  .block {
    width: 100%;
    text-align: left;
    max-width: 400px;
    margin-bottom: 42px;

    @media (min-width: 730px) {
      margin: 0 13px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .thumbnail {
      width: 100%;
      max-width: 400px;
      height: 252px;
      background-color: #eee;
      background-size: cover;
      background-position: center;
      position: relative;

      @media (min-width: 730px) {
        height: 228px;
      }
    }

    .description {
      margin-top: 12px;
      display: block;
      font-size: 24px;
      font-weight: 500;
      line-height: 26px;
      color: #fff;
      font-family: "Austin News Deck Semibold";
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}