.hero {
  position: relative;
  height: calc(142vh - 50px);
  width: 100%;
  margin-top: 50px;
  padding: 0 25px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.63) 0%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0.4) 100%), url('../../assets/backgrounds/bg_top.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;

  &__absoluted {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
    }
    &__connect {
      width: 100%;
      top: 13%;
      left: 0;
      z-index: 1;
    }
    &__f-print-l {
      width: 290px;
      left: 0;
      bottom: 0%;
    }
    &__f-print-r {
      width: 290px;
      right: -2%;
      top: 5%;
      z-index: 1;
    }
    &__map {
      width: 860px;
      bottom: 0%;
      right: -7%;
    }
    &__photo {
      width: 560px;
      left: 2%;
      top: 19%;
    }
  }

  .hero__content {
    margin: 6% auto auto;
    opacity: 0;
    transform: translateX(-5%);
    transition: all 0.9s;
    max-width: 750px;

    &.visible {
      transform: translateX(0%);
      opacity: 1;
    }

    &__copy {
      font-size: 17px;
      line-height: 25px;
      color: #333;
      text-align: center;
    }

  }

  .hero__art {
    margin: auto;
    max-width: 610px;
    width: 100%;
    margin-left: 0;
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.9s 0.2s;

    svg {
      overflow: visible;
    }

  &.visible-art {
    opacity: 1;
    transform: translateY(0%);
  }

    .art-mobile {
      display: none;
    }

  }

  a {
    text-decoration: none;
    border-bottom: 0;
  }


  .logo {
    transition: 1s all;
    width: 100%;
    opacity: 0;

    img {
      width: 80%;
      max-width: 400px;
    }
  }


  .tg-logo {
    transition: 1s all;
    width: 100%;
    opacity: 0;

    img {
      width: 80%;
      max-width: 250px;
    }
  }

  .hero__content__logo {
    max-width: 155px;
    width: 100%;
    margin-bottom: 25px;
  }


  h1 {
    font-family: "Special Elite", Arial, Helvetica, sans-serif;
    font-size: 80px;
    line-height: 70px;
    font-weight: 300;
    color: #853849;
    text-align: center;
    opacity: 1;
    transition: 1s all;
    margin: 0px 0 20px;


    @media (max-width: 600px) {
      font-size: 30px;
    }
  }
}

@media (max-width: 1200px) {
  .hero {
    flex-flow: column;
    .hero__content {
      margin: 0 auto;
      max-width: unset;
    }
    .hero__art {
      margin: 0 auto;
      .art-desktop {
        max-height: 300px;
        display: none;
      }
      .art-mobile {
        display: block;
      }
    }
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  .hero {
    padding-top: 20vh;
  }
}

@media (max-width: 730px) {
  .hero {
    justify-content: flex-start;
    padding: 12% 20px;
    align-items: center;
    h1 {
      font-size: 40px;
      line-height: 40px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }

  .hero__content {
    margin: 20px 0 0 auto;
  }
  
  .hero__art {
    margin-bottom: 100px;
    margin-top: 30px;
    
    .art-mobile {
      display: block;
    }
  }

  .read-more {
    bottom: 50px;
  }

  }
}