.hero {
  position: relative;
  height: calc(142vh - 50px);
  width: 100%;
  margin-top: 50px;
  padding: 0 25px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.63) 0%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0.4) 100%), url('../../assets/backgrounds/bg_top.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;

  @media (max-width: 730px) {
    height: 120vh;
    flex-flow: column;
    justify-content: flex-start;
    padding: 12% 20px;
    align-items: center;
    background-size: 100%;
  }

  @media (min-height: 630px) and (max-width: 730px) {
    height: 110vh;
  }

  @media (min-height: 700px) and (max-width: 730px) {
    height: 100vh;
  }

  &__absoluted {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
    }

    &__connect {
      width: 100%;
      top: 13%;
      left: 0;
      z-index: 1;
    }

    &__f-print-l {
      width: 290px;
      left: 0;
      bottom: 0%;
    }

    &__f-print-r {
      width: 290px;
      right: -2%;
      top: 5%;
      z-index: 1;
    }

    &__map {
      width: 860px;
      bottom: 0%;
      right: -7%;
    }

    &__photo {
      width: 560px;
      left: 2%;
      top: 19%;
    }
  }

  .hero__content {
    margin: 6% auto auto;
    transition: all 0.9s;
    max-width: 750px;
    z-index: 2;

    &.visible {
      transform: translateX(0%);
      opacity: 1;
    }

    &__copy {
      font-size: 17px;
      line-height: 25px;
      color: #333;
      text-align: center;
      background: rgba(255, 255, 255, 0.72);
      padding: 10px;
    }
  }

  .hero__art {
    margin: auto;
    max-width: 610px;
    width: 100%;
    margin-left: 0;
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.9s 0.2s;

    &.visible-art {
      opacity: 1;
      transform: translateY(0%);
    }

    svg {
      overflow: visible;
    }

    .art-mobile {
      display: none;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 0;
  }

  .logo {
    transition: 1s all;
    width: 100%;
    opacity: 0;

    img {
      width: 80%;
      max-width: 400px;
    }
  }


  .tg-logo {
    transition: 1s all;
    width: 100%;
    opacity: 0;

    img {
      width: 80%;
      max-width: 250px;
    }
  }

  .hero__content__logo {
    max-width: 155px;
    width: 100%;
    margin-bottom: 25px;
  }


  h1 {
    font-family: "Special Elite", Arial, Helvetica, sans-serif;
    font-size: 80px;
    line-height: 70px;
    font-weight: 300;
    color: #853849;
    text-align: center;
    opacity: 1;
    transition: 1s all;
    margin: 0px 0 20px;
    min-height: 1.75em;


    @media (max-width: 600px) {
      font-size: 30px;
    }
  }
}

@media (max-width: 730px) {

  .hero {

    &__absoluted {
      position: relative;
      order: 2;

      &__connect {
        top: -67%;
        left: -80%;
        width: 230%;
      }

      &__f-print-l {
        display: none;
      }

      &__f-print-r {
        right: -32%;
        top: 5%;
        width: 70%;
      }

      &__map {
        top: 0;
        right: -24%;
        width: 100%;
      }

      &__photo {
        left: -48%;
        top: -10%;
        width: 100%;
      }
    }

    h1 {
      font-size: 40px;
      line-height: 40px;
      min-height: 2em;
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }

    .hero__content {
      margin: 20px 0 0 auto;
    }

    .hero__art {
      margin-bottom: 100px;
      margin-top: 30px;

      .art-mobile {
        display: block;
      }
    }
  }
}
