.post-body {
margin: 0;
background: url('../../assets/backgrounds/quiz.png');
background-size: cover;
background-position: center;
p {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
}
}