.title {
  transition: 0.7s;
  transform: translate3d(-40%, 0, 0);
  flex-basis: 37%;
  padding: 35px 25px;
  height: 55vh;
  background-size: cover;
  background-position: center;

  &__inner {
    max-width: 990px;
    margin: 0 0px auto;
    display: flex;
  }

  
  h2 {
    position: relative;
    margin: 0 auto;
    text-align: left;
    font-size: 80px;
    line-height: 80px;
    font-family: 'Special Elite', arial, sans-serif;
    font-weight: 300;
    color: #fff;

    &:after {
      content: '';
      height: 100px;
      width: 390px;
      position: absolute;
      right: -20px;
      top: 0;
      background: url('../../assets/stroke.svg');
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  img {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
  }

  @media (max-width: 730px) {
    height: 30vh;
    padding: 35px 20px;
    &__inner {
      .title__content {
        font-size: 60px;
        &:after {
          width: 280px;
          right: -30px;
          top: 5px;
        }
      }
    }
  }

}