.read-more {
  position: absolute;
  background: url('../../assets/hero/scroll_bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 19px;
  bottom: 0;
  opacity: 1;
  transition: all 1s;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column;

  &.show {
    opacity: 1;
  }

  &__copy {
    color: #FFF;
    font-family: "Austin News Text Roman";
    font-weight: 500;
    font-size: 12px;
    margin: 0 auto;
    padding: 20px;
  }

  svg {
    height: 20px;
    width: 20px;
    margin: auto;
    fill: #fff;
    animation: readmoreani 3.5s infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes readmoreani {

  0% { transform: translate3d(0, -10px , 0);
    }

  50% {
    transform: translate3d(0, 20px, 0);
  }

  100% { transform: translate3d(0, -10px , 0);
    }
}