.pullquote {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../../assets/backgrounds/bg_mid.jpg');
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  padding: 25px;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    &__quote {
      position: relative;
      max-width: 500px;
      background: url('../../assets/backgrounds/quote.svg');
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 30px;
      padding-bottom: 30px;
      &:before {
        content: '';
        position: absolute;
        top: -39px;
        right: 50%;
        height: 80px;
        width: 63px;
        transform: translateX(50%);
        background: url('../../assets/speech_mark.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      h4 {
        color: #fff;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        margin: 0;
        padding: 0px 80px;
      }
      p {
        color: #fff;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
        margin: 0;
        padding: 0px 80px;
      }
    }
  }

  }