.sidebar {
  padding: 100px 0;

  &__inner {
    &__stickynote {
      background: url('../../assets/backgrounds/sticky.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      h3 {
        padding: 0 40px;
      }
      p {
        padding: 0 40px;
      }
    }
  }
}