.sidebar {
  padding: 100px 0;

  &__inner {
    &__stickynote {
      background: url('../../assets/backgrounds/sticky.png');
      background-size: 100% 110%;
      background-repeat: no-repeat;
      background-position: 0%;
      height: 100%;
      margin-top: 60px;
      &__inner {
        max-width: 80%;
        margin: 0 auto;
        transform: rotate(-4deg);
        h3 {
          position: relative;
          width: fit-content;
          margin-top: 0px;
          font-family: "Special Elite", Arial, Helvetica, sans-serif;
          font-size: 30px;
          line-height: 40px;
          font-weight: 300;
          color: #853849;
          @media (max-width: 730px) {
            font-size: 22px;
            line-height: 62px;
            margin-bottom: 0;
          }
          &:before {
            content: '';
            background: url('../../assets/sidebar/sticky_stroke.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            height: 150%;
            width: 110%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotate(5deg);
            z-index: -1;
            @media (max-width: 730px) {
              background-position: 0px 10px;
            }
          }
        }
        h4 {
          font-family: "Special Elite", Arial, Helvetica, sans-serif;
          font-size: 28px;
          line-height: 26px;
          font-weight: 300;
          color: #853849;
          margin: 10px 0 ;
        }
        p {
          font-family: "Special Elite", Arial, Helvetica, sans-serif;
          font-size: 17px;
          line-height: 26px;
          color: #333333;
        }
        .stickynote-title {
          @media (max-width: 730px) {
            font-size: 21px;
            line-height: 21px;
            margin-bottom: 5px;
          }
        }
        .stickynote-copy {
          @media (max-width: 730px) {
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
          }
        }
      }
    }
    &__img {
      display: flex;
      img {
        max-width: 500px;
        margin: 0 auto;
        @media (max-width: 730px) {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 730px) {
    padding: 20px;
  }
}