.question {
  position: relative;
  background: url('../../assets/backgrounds/quiz.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 25px;
  z-index: 2;

  @media (max-width: 730px) {
    width: 100%;
    padding: 0 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: opacity 0.4s 0.8s;

    &__img {

      img {
        max-width: 570px;

        @media (max-width: 730px) {
          width: 100%;
        }
      }
    }

    &__choice {
      text-align: center;

      @media (max-width: 730px) {
        margin-top: 30px;
      }

      h2 {
        color: #fff;
        margin-bottom: 30px;
        max-width: 540px;
        font-family: "Special Elite", Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: 40px;
        font-weight: 300;

        @media (max-width: 730px) {
          font-size: 25px;
          line-height: 32px;
        }
      }

      &__answer {
        position: relative;
        color: #fff;
        border: 1px solid #fff;
        padding: 20px;
        margin: 30px 0;
        border-radius: 10px;
        user-select: none;
        cursor: pointer;
        transition: opacity 0.4s;

        &:hover {
          opacity: 0.4;
        }

        &:before {
          content: '';
          position: absolute;
          right: -10px;
          bottom: -10px;
          border-radius: 50%;
          opacity: 0;
          transition: opacity 0.4s 0.5s;
        }

        &.answered {
          transition: opacity 0.4s 0.5s;

          &:hover {
            opacity: 1;
          }

          &.false {
            opacity: 0.4;

            &:before {
              content: url('../../assets/quiz/cross.svg');
              height: 30px;
              width: 30px;
              padding: 8px;
              background: #853849;
              opacity: 1;
              line-height: 2.5;
              box-sizing: unset;
            }
          }

          &.correct {

            &:before {
              content: url('../../assets/quiz/tick.svg');
              height: 30px;
              width: 30px;
              padding: 8px;
              background: #39843B;
              opacity: 1;
              box-sizing: unset;
            }
          }
        }
      }
    }
  }

  &__final {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: opacity 0.4s 1.2s;
    width: 80%;

    &__inner {

      h3 {
        margin: 0 auto;
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        max-width: 600px;
      }

      h4 {
        text-align: center;
        font-size: 17px;
        line-height: 25px;
        color: #fff;
      }

      a {
        color: #fff;
      }
    }
  }
}
