.dropcap {
  float: left;
  width: 60px;
  height: 51px;
  overflow: visible;
  
  .dropcap__letter {
    background: url('../../assets/backgrounds/dropcap.svg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    font-size: 30px;
    font-family: "Special Elite", Arial, Helvetica, sans-serif;
    color: #853849;
    font-size: 95px;
    line-height: normal;
  }
  
}