.partner {
  background: url('../../assets/backgrounds/quiz.png');
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  &__inner {
    margin: 0 auto;
    p {
      color: #fff;
      text-align: center;
      margin: 0 auto;
    }
    
    img {
      color: #fff;
      display: block;
      margin: 0 auto;
      max-width: 120px;
    } 
  }
}