.pagebody {
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../../assets/backgrounds/bg_mid.jpg');
  background-size: cover;
  background-position: 0px -28px;
  padding: 25px;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &.no-padding {
    padding: 0 25px;
      .pagebody__content {
        padding: 80px 0;
    }
  }

  &.no-padding-top {
    padding-top: 0;
  }

  &.with-sidebar {
    overflow: visible;
    &:after {
      content: '';
      background-image: url('../../assets/backgrounds/pagebody-art.svg');
      background-size: 100%;
      position: absolute;
      width: 100%;
      height: 800px;
      background-repeat: no-repeat;
      bottom: -400px;
      overflow: visible;
      @media (max-width: 730px) {
        bottom: -12%;
        left: 90%;
        width: 230%;
        height: 250px;
        transform: translateX(-50%);
      }
    }
    display: flex;

    .pagebody__content {
      padding: 80px 25px 20px;
    }
  }

  &.sidebar-flipped {
    &:after {
      background-image: url('../../assets/backgrounds/pagebody-art-flipped.svg');
      bottom: -500px;
    }
    .pagebody__content {
      @media (max-width: 730px) {
        order: 0;  
      }
      order: 2;
    }
  }

  &__content {
    height: fit-content;
    background: rgba(255, 255, 255, 0.8);
    max-width: 640px;
    margin: 0 auto;
    padding: 25px 0;
    z-index: 1;
  }

  .trigger {
    p {
      margin-bottom: 15px!important;
    }
  }
}
.ebox {
  padding-top: 0;
  padding-bottom: 50px;
}

.moi {
  padding-bottom: 0;
}

@media (max-width: 970px) {
  .pagebody {
    flex-flow: column;
  }
}

@media screen and (max-width: 730px) {

  .pagebody {
    padding: 12% 0;
    margin: 0 auto;

    &__content {
      padding: 25px 20px;
    }

    &.purple {
      h2 {
        font-size: 23px;
        line-height: 20px;
      }
      .stars {
        max-width: 190px;
      }
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.pagebody__content--notitle {
  margin: auto;
}