.pagebody {
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../../assets/backgrounds/bg_mid.jpg');
  background-size: cover;
  background-position: 0px -28px;
  padding: 25px;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &.no-padding {
    padding: 0 25px;
  }

  &.no-padding-top {
    padding-top: 0;
  }

  &.with-sidebar {
    display: flex;

    .pagebody__content {
      padding: 25px;
    }
  }

  &__content {
    background: rgba(255, 255, 255, 0.8);
    max-width: 640px;
    margin: 0 auto;
    padding: 25px 0;
  }

  .trigger {
    p {
      margin-bottom: 15px!important;
    }
  }
}
.ebox {
  padding-top: 0;
  padding-bottom: 50px;
}

.moi {
  padding-bottom: 0;
}

@media (max-width: 970px) {
  .pagebody {
    flex-flow: column;
  }
}

@media screen and (max-width: 730px) {

  .pagebody {
    padding: 12% 20px;
    margin: 0 auto;

    &.purple {
      h2 {
        font-size: 23px;
        line-height: 20px;
      }
      .stars {
        max-width: 190px;
      }
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.pagebody__content--notitle {
  margin: auto;
}